<button type="button" (click)="getPosts()">Get Posts</button>
<button type="button" (click)="clearPosts()">Clear Posts</button>
<button type="button" (click)="addPosts()">Add Posts</button>
<ul>
  <li *ngFor="let post of (posts$ | async)">
    {{ post.title }}
  </li>
</ul>

<div>
  <form [formGroup]="form">
    <app-labeled-input
      [control]="form.controls['name']"
      type="text"
      id="field1-rf"
      placeholder="Enter field1" (keyup)="test($event)">
    </app-labeled-input>


    <span>
    <strong>control:</strong> labeled-input;
    <strong>value:</strong> {{form.value.name}};
    <strong>min-length:</strong> 2
  </span>
  </form>
</div>
